<header>
  <h1 class="text-center"><img src="/images/hsk.jpg" alt="HSK"></h1>
</header>
<nav class="row text-center">
  <div ng-class="{'active-menu': activeMenu=='checkin'}" class="large-6 medium-6 small-6 columns choice-menu">
    <p>
      <a href="#/checkin">
        Checkin
      </a>
    </p>
  </div>
  <div ng-class="{'active-menu': activeMenu=='register'}" class="large-6 medium-6 small-6 columns choice-menu">
    <p>
      <a href="#/register">
        Register
      </a>
    </p>
  </div>
</nav>